language: go
sudo: false
go:
  - 1.4
  - 1.5
  - 1.6
  - tip
before_script:
  - go get ./...
  - go get gopkg.in/redis.v3
  - go get github.com/axw/gocov/gocov
  - go get github.com/mattn/goveralls
  - if ! go get github.com/golang/tools/cmd/cover; then go get golang.org/x/tools/cmd/cover; fi
script:
  - PATH="$HOME/gopath/bin:$PATH"
  - script/coverage --coveralls
